body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

header {
  display: flex;
  background-image: url("../glasses-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30rem;
  justify-content: center;
  border: 2px solid red;
}

.site-container {
  display: flex;
  width: 960px;
  border: 2px solid black;
}

/* Background header image and Navigation / Callout */

.header-items {
  display: flex;
  width: 100%;
  border: 2px solid yellow;
  flex-direction: column;
}

.nav-container {
  display: flex;
  width:100%;
  height: 3rem;
  margin-top: 1rem;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  justify-content: space-between;
  border: 2px solid blue;
}

.logo-title {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  border: 2px solid green;
}

.logo-title img {
  height: 1.5rem;
  width: auto;
  border: 2px solid green;
}

.logo-title span {
  padding: 1rem;
  width: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  list-style: none;
}

nav a {
  padding: 1rem 2rem 1rem 0;
}

#mobile-nav {
  display: none;
}

.callout {
  display: flex;
  margin-top: 10rem;
  justify-content: flex-end;
  overflow: auto;
  margin-right: -2rem;
}

.callout span {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  background-color: white;
  padding: 1.5rem 5rem;
}

/* Responsive Tablet design for Header */

@media only screen and (max-width:1080px) {

  header {
    height: 22rem;
  }

  .nav-container {
    margin: 0;
  }

  .callout {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .callout span {
    font-size: 1.33rem;
    line-height: 1.2;
    font-weight: bold;
    background-color: white;
    padding: 0.75rem 4rem;
  }
}

/* Content layer - icons */

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 2px solid red;
}

.content .site-container {
  justify-content: center;

}

.icon-gallery {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  border: 2px solid green;
}

.icon-text {
  display: flex;
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

#exam img {
  width: 3.5rem;
}

#ruler img {
  width: 5rem;
}

#truck img {
  width: 5rem;
}

/* Final Content - Philosophy and Appointments */

.final-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.final-content site-container {
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: center;
}

.philo-appts {
  display: flex;
  width: 35%;
  margin: 0 2.5%;
  flex-direction: column;
}

.philo-appts span {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-shell {
  display: flex;
  background-color: azure;
  margin-top: 5rem;
  width: 100%;
}

.footer-logo-title {
  display: flex;
  align-items: center;
}

.footer-logo-title img {
  height: 1.5rem;
  width: auto;
  margin: 4rem 1rem 4rem 4rem;
}


/* Responsive Mobile design for Header */

@media only screen and (max-width:560px) {

  header {
    height: 17rem;
  }

  .callout {
    margin-top: 9rem;
    margin-right: 2rem;
    justify-content: center;
    text-align: center;
  }

  .callout span {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
    background-color: white;
    padding: 1rem 0;
    width:100%;
  }

  .logo-title span {
    display: none;
  }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

/* Responsive icons */

  .icon-gallery {
    flex-direction: column;
    margin: 3.77rem;
    font-size: 0.77rem;
  }

  .icon-text {
    height: auto;
  }

  #exam span {
    margin-bottom: 1.54rem;
  }

  #ruler span {
    margin-bottom: 1.54rem;
  }

  #truck span {
    margin-bottom: 0rem;
      border: 2px solid red;
  }

/* Responsive Philosophy and Appointments */

  .info-container {
    flex-direction: column;
    width: 100%;
  }

  .philo-appts {
    width: 100%;
    margin: 0;
  }

  .philo-appts span {
    text-align: center;
  }

  .philo-appts p {
    margin-bottom: 4rem;
  }

  /* Responsive Footer */

  .footer-logo-title {
    justify-content: space-around;
    border: 2px solid yellow;
    width: 100%;
  }

  .footer-logo-title img {
    margin: 4rem 0;
  }

  .footer-logo-title span {
    display: none;
  }

}
